html{
    scroll-behavior: smooth;
}

body {
    margin: 1.5em;
    color: #1d1d1d;
    background-color: #fafafa ;
}

h1, h2{
    font-family: 'Rajdhani', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}




/* Class */

.icones {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.logo_presentation {
    display: flex;
    width: 150px;
    margin: 50px;
}